{% extends 'base.html.twig' %}

{% block title %}Appstack::Support{% endblock %}

{% block body %}
<img src="https://signup.appstack.de/logo_small.png" />
    <h1>Danke!</h1> <h2>deine Mail wurde versandt!</h2>
<div class="" style="margin: auto;width:300px;">
<hr />
Ich werde mich schnellstmöglich um deine Anfrage kümmern!
<hr />
<a href="https://mail.appstack.de">Zur Mailbox!</a>
<h5 class="text-muted">Appstack.de</h5>
</div>
{% endblock %}
