<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
<title>Appstack.de :: Willkommen bei Appstack.de</title>
        {% block stylesheets %}{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0">
<meta name="theme-color" content="#f4f4f4">
<meta name="msapplication-navbutton-color" content="#f4f4f4">

	<link rel="shortcut icon" href="https://mail.appstack.de/skins/elastic/images/favicon.ico?s=1577908851">

	<link rel="stylesheet" href="https://mail.appstack.de/skins/elastic/deps/bootstrap.min.css?s=1577908867">
			<link rel="stylesheet" href="https://mail.appstack.de/skins/elastic/styles/styles.css?s=1577908851">
		
	<link rel="stylesheet" type="text/css" href="https://mail.appstack.de/plugins/jqueryui/themes/elastic/jquery-ui.css?s=1577908850">
<script src="https://mail.appstack.de/program/js/jquery.min.js?s=1577908862"></script>
<script src="https://mail.appstack.de/program/js/common.min.js?s=1577908851"></script>
<script src="https://mail.appstack.de/program/js/app.min.js?s=1577908851"></script>
<script src="https://mail.appstack.de/program/js/jstz.min.js?s=1577908862"></script>
<script src="https://mail.appstack.de/plugins/jqueryui/js/jquery-ui.min.js?s=1577908850"></script>
<script src="https://mail.appstack.de/plugins/jqueryui/js/i18n/jquery.ui.datepicker-de.js?s=1577908850"></script>
<style>
#support_form_submit {
text-transform: uppercase;
}
    </style>
    </head>
<body class="task-login action-none">
			<div id="layout">

<div id="layout-content" class="selected no-navbar" role="main">
<div class="placeholder" style="height:100px;">&nbsp;</div>
        {% block body %}{% endblock %}
</div>
</div>
        {% block javascripts %}{% endblock %}

<script src="https://mail.appstack.de/skins/elastic/deps/bootstrap.bundle.min.js?s=1577908867"></script>
<script src="https://mail.appstack.de/skins/elastic/ui.min.js?s=1577908851"></script>
    </body>
</html>
